body {
  font-family: Arial, sans-serif;
  padding: 2rem;
  background-color: #f4f4f4;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

input, button {
  padding: 0.5rem;
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 0.75rem;
  border: 1px solid #ccc;
  text-align: center;
}

button.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}
#cancel-edit {
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

#cancel-edit:hover {
  background-color: #aaa;
}

